<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Support</h1>
    <p>
      From: <%= @first_name %> <%= @last_name %> (<%= @email %>)
    </p>
      <hr>
      <h3><strong>LOCATION:</strong></h3>
    <p>
      <%= @address %>, <%= @city %>, <%= @zip %>, <%= @country %>
    </p>
    <hr>
    <h3><strong>SHOE:</strong></h3>
    <p>
      SHOE SIZE: <%= @shoe_size %>
      SHOE TYPE: <%= @shoe_type %>
      SHOE MODEL: <%= @shoe_model %>
    </p>
    <hr>
    <h3><strong>SERVICE TYPE:</strong></h3>
    <p>
       <%= @service_type %>
    </p>
    <hr>
    <h3><strong>DISCRIPTION:</strong></h3>
    <p>
       <%= @description %>
    </p>

  
  </body>
</html>