<div class="container">
  
  <div class="row" align="center">
    <div>
        <img src="https://takecareassets.s3.amazonaws.com/newsup.png" style="width: 30%; height: auto; margin-top: 12%" >
    </div>
  </div>

  <% @posts.each do |post| %>
        <div class="row" align="center" style="margin-top: 15%;">
          <div>
            <%= image_tag(post.headline_picture, :style => "width: 80%; height: 415px;") %>
          </div>
        </div>
        <div class="row" style="margin-left: 10%;">
          <h4><strong><%= post.title %></strong></h4>
        </div>
        <div class="row" style="margin-left: 15%;">
          <h6><strong><%= post.subtitle %></strong></h6>
        </div>
        <div class="row" align="center">
          <p style="margin: 5%; width: 75%">
            <%= post.description %>
          </p>
        </div>
        <div class="row" align="center">
          <div>
            <%= link_to 'READ MORE', post, class: "btn waves-effect waves-light", style: "background-color: white; color: black; margin-top: 10px; width:25%;" %>
          </div>
        </div>
        <hr style="margin-top: 10%">

  <% end %>

</div>







<!-- <#%= link_to 'New Post', new_post_path %> -->
