<!DOCTYPE html>
<html>
  <head>
    <title>Take Care NYC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://checkout.stripe.com/checkout.js"></script>
  </head>

  <body>
        <header style="background-color: white; border: none;">

          <nav id="nav" style="margin-bottom: 5%; background-color: white">

                <div class="nav-wrapper">
                  <a href="#!" class="brand-logo" style="background-color:rgba(0, 0, 0, 0.0);"><%= image_tag asset_path('logo.png'), :rel => 'icon', :type =>  'image/png', :style => 'width: 60px; height: auto; margin:11%;' %></a>
                  <a href="/" data="no-turbolink" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons" style="color: black">menu</i></a>
                  <ul class="right hide-on-med-and-down">

                          <li ><%=link_to 'Home', root_path, :style => "text-decoration: none; color: black;" %></li>

                          <li ><%=link_to 'News & Updates', posts_path, :style => "text-decoration: none; color: black;" %></li>

                          <li ><%=link_to 'Shop', spree_path, :style => "text-decoration: none; color: black;" %></li>                          
                          <li ><%=link_to 'About', pages_about_path, :style => "text-decoration: none; color: black;" %></li>

                          <li ><%=link_to 'Contact', new_contact_path, :style => "text-decoration: none; color: black;" %></li>

                       <!--    <li><#%= render 'layouts/cart_text' %></li> -->

                  </ul>
                </div>
          

                <ul class="sidenav" id="mobile-demo" style="color: black">
                          <li ><%=link_to 'Home', root_path, :style => "text-decoration: none; color: black;" %></li>

                          <li ><%=link_to 'News & Updates', posts_path, :style => "text-decoration: none; color: black;" %></li> 

                          <li ><%=link_to 'Shop', spree_path, :style => "text-decoration: none; color: black;" %></li>

                          <li ><%=link_to 'About', pages_about_path, :style => "text-decoration: none; color: black;" %></li>

                          <li ><%=link_to 'Contact', new_contact_path, :style => "text-decoration: none; color: black;" %></li>
                </ul>

          </nav>

     
    </header>
    <%= yield %>
  </body>
</html>
