<!DOCTYPE html>
<html>
  <head>
    <title>Take Care NY</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('logo.png'), :rel => 'icon', :type =>  'image/png' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


    <script type="text/javascript">
    $(document).ready(function(){    
        //Check if the current URL contains '#'
        if(document.URL.indexOf("#")==-1){
            // Set the URL to whatever it was plus "#".
            url = document.URL+"#";
            location = "#";

            //Reload the page
            location.reload(true);
        }
    });
    </script>


  </head>

  <body>

    <%= render 'partials/nav' %>

    <%= yield %>

    <%= render 'partials/footer' %>
  </body>
</html>
